<header class="header">
  <div class="container">
    <section class="header-top">
      <a href="/"><img src="/images/logo2.svg" alt="" class="logo" /></a>
      <div class="header-btns">
        <% if(currentUser){ %> <% if (!currentUser.isBlocked) { %>
        <a href="/new-blog" class="btn btn-icon"
          ><svg
            width="13"
            height="13"
            viewBox="0 0 13 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 6.5H12M6.5 1V12"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
          >Написать блог</a
        >
        <% } %>

        <a href="/user/<%= currentUser.username %>" class="header_profile-img">
          <img src="<%= currentUser.photo %>" alt="" />
        </a>
        <a href="/api/users/signout" class="btn btn-icon">Выйти</a>
        <% } else { %>
        <a href="/login" class="btn btn-icon"
          ><svg
            width="13"
            height="13"
            viewBox="0 0 13 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 6.5H12M6.5 1V12"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
          >Написать блог</a
        >
        <a href="/login" class="btn btn-icon"
          ><svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 13.9419C1.68808 11.7302 3.45895 11.0659 7.47093 11.0659C11.4829 11.0659 13.2538 11.7302 13.9419 13.9419M11.0659 4.59496C11.0659 5.5484 10.6871 6.4628 10.013 7.13698C9.33877 7.81117 8.42437 8.18992 7.47093 8.18992C6.51749 8.18992 5.60309 7.81117 4.92891 7.13698C4.25472 6.4628 3.87597 5.5484 3.87597 4.59496C3.87597 3.64152 4.25472 2.72713 4.92891 2.05294C5.60309 1.37875 6.51749 1 7.47093 1C8.42437 1 9.33877 1.37875 10.013 2.05294C10.6871 2.72713 11.0659 3.64152 11.0659 4.59496Z"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Войти</a
        >
        <% } %>
      </div>
    </section>
  </div>
  <section class="section-categories">
    <div class="container categories-box">
      <form class="search">
        <button type="submit">
          <svg
            class="search-icon"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M3.33366 9.16675C3.33366 5.94509 5.94533 3.33341 9.16699 3.33341C12.3887 3.33341 15.0003 5.94509 15.0003 9.16675C15.0003 12.3884 12.3887 15.0001 9.16699 15.0001C5.94533 15.0001 3.33366 12.3884 3.33366 9.16675ZM9.16699 1.66675C5.02486 1.66675 1.66699 5.02461 1.66699 9.16675C1.66699 13.3089 5.02486 16.6667 9.16699 16.6667C10.9378 16.6667 12.5653 16.053 13.8484 15.0267L16.9111 18.0893C17.2365 18.4147 17.7642 18.4147 18.0896 18.0893C18.415 17.7639 18.415 17.2362 18.0896 16.9108L15.0269 13.8482C16.0532 12.5651 16.667 10.9376 16.667 9.16675C16.667 5.02461 13.3092 1.66675 9.16699 1.66675Z"
              fill="black"
            />
          </svg>
        </button>

        <input
          type="search"
          name="search"
          id=""
          class="search-input"
          placeholder="Поиск..."
        />
      </form>
      <div class="categories">
        <% for( let i = 0; i < 5; i++ ) { %>
        <a href="?category=<%= categories[i].slug %>">
          <%= categories[i].title %>
        </a>
        <% } %>
        <a href="" class="more-link"
          >Еще <img src="/images/icons/down-arrow.svg" alt="" />
        </a>
        <div class="dropdown-categories">
          <% for( let i = 5; i < categories.length; i++ ) { %>
          <a href="?category=<%= categories[i].slug %>">
            <%= categories[i].title %>
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </section>
</header>
