<div class="myblogs-left-top">
  <% if (typeof currentUser!==undefined && currentUser &&
  currentUser.role==='admin'&&(currentUser.id == profileUser.id)) { %>
  <a href="/user/<%= profileUser.username %>">Блоги</a>
  <a href="/users/">Пользователи</a>
  <a href="/user/comments/<%= profileUser.username %>">Комментарии</a>
  <a href="/user/bookmarks/<%= profileUser.username %>">Закладки</a>

  <% } else { %>
  <a href="/user/<%= profileUser.username %>">Блоги</a>
  <a href="/user/comments/<%= profileUser.username %>">Комментарии</a>
  <a href="/user/bookmarks/<%= profileUser.username %>">Закладки</a>
  <% } %>
</div>
